<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
        <a href="#">Gustavo Rocha</a>
        <div class="social-icons">
            <a href="[Seu Link do LinkedIn]" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="[Seu Link do GitHub]" target="_blank"><i class="fab fa-github"></i></a>
            <a href="[Seu Link do Instagram]" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
</header>

<main>
    <div class="intro">
        <h1>Olá, sou Gustavo Rocha!</h1>
        <p>Nascido em São Luís do MA, 25 anos e atualmente acadêmico de engenharia da computação na Universidade Federal do Maranhão. Certificado como Desenvolvedor WEB pelo SENAC-MA. Atualmente focando meus estudos em JAVA e SPRING.</p>
    </div>
    <div class="image-container">
        <img src="/images/capaIndex.jpeg" alt="imagem de fundo">
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<footer>
    <p>&copy;2025</p>
</footer>

</body>
</html>