<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meus Projetos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <nav>
        <a href="#">Gustavo Rocha</a>
        <ul>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
        <div class="social-icons">
            <a href="[Seu Link do LinkedIn]" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="[Seu Link do GitHub]" target="_blank"><i class="fab fa-github"></i></a>
            <a href="[Seu Link do Instagram]" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
</header>

<h1>Projetos</h1>
<p>Descrição aleatoria que ainda vou criar para essa pagina</p>

<main class="projetos-grid">
    <div class="projeto-card" th:each="projeto : ${listaProjetos}">
        <img th:src="${projeto.imagemUrlCapa}" th:alt="${projeto.titulo}">
        <div class="projeto-info">
            <h2 th:text="${projeto.titulo}"></h2>
            <p th:text="${projeto.descricaoBreve}"></p>
            <a th:href="${projeto.urlDetalhe}">Ver Detalhes</a>
        </div>
    </div>
</main>

<footer>
    <p>&copy; Gustavo Rocha 2025</p>
</footer>
</body>
</html>