<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meus Projetos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
        <a href="#">Gustavo Rocha</a>
        <div class="social-icons">
            <a href="[Seu Link do LinkedIn]" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="[Seu Link do GitHub]" target="_blank"><i class="fab fa-github"></i></a>
            <a href="[Seu Link do Instagram]" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </nav>
</header>

<h1>Projetos</h1>
<p>Descrição aleatoria que ainda vou criar para essa pagina</p>

<main class="projetos-grid">
    <div class="projeto-card" th:each="projeto : ${listaProjetos}">
        <img th:src="${projeto.imagemUrlCapa}" th:alt="${projeto.titulo}">
        <div class="projeto-info">
            <h2 th:text="${projeto.titulo}"></h2>
            <p th:text="${projeto.descricaoBreve}"></p>
            <a th:href="${projeto.urlDetalhe}">Ver Detalhes</a>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<footer>
    <p>&copy; Gustavo Rocha 2025</p>
</footer>
</body>
</html>